body {
  font-family: Verdana, helvetica, san-serif;
  background-color: #e2edff;
  line-height: 125%;
  padding: 15px;
	}

p{
	color: #000080;
	font-size: small;
}

.tagline{
	font-weight: italics;
	font-family: georgia, "times new roman", serif;
}

a{
	font-weight: bold;
}